In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lompoc,US,2022-06-04 18:54:26,34.6391,-120.4579,70.84,79,40,12.66
1,1,Sao Miguel Do Araguaia,BR,2022-06-04 18:54:26,-13.2750,-50.1628,94.66,18,13,6.55
2,2,Les Cayes,HT,2022-06-04 18:54:27,18.2000,-73.7500,83.46,73,100,13.62
3,3,Ludvika,SE,2022-06-04 18:54:27,60.1496,15.1878,62.60,64,86,3.76
4,4,Port Alfred,ZA,2022-06-04 18:54:27,-33.5906,26.8910,57.18,90,99,3.00

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Les Cayes,HT,2022-06-04 18:54:27,18.2000,-73.7500,83.46,73,100,13.62
6,6,Rikitea,PF,2022-06-04 18:54:28,-23.1203,-134.9692,75.67,74,100,9.69
10,10,Monrovia,LR,2022-06-04 18:53:46,6.3005,-10.7969,79.81,81,99,9.60
12,12,Nador,MA,2022-06-04 18:54:29,35.1740,-2.9287,77.07,49,20,14.97
14,14,Boa Vista,BR,2022-06-04 18:54:30,2.8197,-60.6733,89.58,51,40,4.61
23,23,Albany,US,2022-06-04 18:54:33,42.6001,-73.9662,78.64,43,0,1.01
29,29,Victoria,HK,2022-06-04 18:50:02,22.2855,114.1577,85.32,82,100,11.99
32,32,Orange Cove,US,2022-06-04 18:54:36,36.6244,-119.3137,82.24,39,100,4.79
38,38,Poum,NC,2022-06-04 18:54:38,-20.2333,164.0167,75.04,76,80,12.46
41,41,Puerto Ayora,EC,2022-06-04 18:54:39,-0.7393,-90.3518,80.56,83,94,9.71

In [12]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2      Les Cayes      HT     83.46  18.2000  -73.7500
6        Rikitea      PF     75.67 -23.1203 -134.9692
10      Monrovia      LR     79.81   6.3005  -10.7969
12         Nador      MA     77.07  35.1740   -2.9287
14     Boa Vista      BR     89.58   2.8197  -60.6733
23        Albany      US     78.64  42.6001  -73.9662
29      Victoria      HK     85.32  22.2855  114.1577
32   Orange Cove      US     82.24  36.6244 -119.3137
38          Poum      NC     75.04 -20.2333  164.0167
41  Puerto Ayora      EC     80.56  -0.7393  -90.3518

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(20)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Les Cayes,HT,83.46,18.2000,-73.7500,Villa Orphee
6,Rikitea,PF,75.67,-23.1203,-134.9692,People ThankYou
10,Monrovia,LR,79.81,6.3005,-10.7969,Sunset Inn
12,Nador,MA,77.07,35.1740,-2.9287,Hôtel La Giralda
14,Boa Vista,BR,89.58,2.8197,-60.6733,Aipana Plaza Hotel
23,Albany,US,78.64,42.6001,-73.9662,
29,Victoria,HK,85.32,22.2855,114.1577,Mini Central
32,Orange Cove,US,82.24,36.6244,-119.3137,
38,Poum,NC,75.04,-20.2333,164.0167,
41,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
42,Am Timan,TD,81.84,11.0297,20.2827,Palais du chef Canton Salamt
44,Faanui,PF,80.15,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
46,Lagdo,CM,79.54,9.0500,13.7333,
47,Deming,US,88.83,32.2687,-107.7586,Best Western Deming Southwest Inn
51,Kismayo,SO,77.79,-0.3582,42.5454,Agan-Hotel
55,Takoradi,GH,80.04,4.8845,-1.7554,Raybow International Hotel
59,Chardara,KZ,75.70,41.2547,67.9692,Жанаргул
67,Atuona,PF,78.17,-9.8000,-139.0333,Villa Enata
74,Butaritari,KI,80.74,3.0707,172.7902,Isles Sunset Lodge
77,Hilo,US,86.29,19.7297,-155.0900,Hilo Hawaiian Hotel

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))