In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,-53.1500,-70.9167,41.11,75,75,19.57
1,1,Qaanaaq,GL,77.4840,-69.3632,22.01,84,97,6.76
2,2,Christchurch,NZ,-43.5333,172.6333,50.92,73,1,11.50
3,3,Pangnirtung,CA,66.1451,-65.7125,37.40,81,20,3.44
4,4,Ushuaia,AR,-54.8000,-68.3000,40.66,60,75,9.22

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object