## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
print(vacation_df.count())
vacation_df.head()

City_ID                199
City                   199
Country                199
Max Temp               199
Current Description    199
Lat                    199
Lng                    199
Hotel Name             199
dtype: int64

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Namibe,AO,75.54,clear sky,-15.1961,12.1522,Hotel Chik Chik Namibe
1,15,Cayhagan,PH,81.91,moderate rain,9.6697,122.4256,Melrose Beach Resort
2,19,Zhob,PK,77.94,clear sky,31.3411,69.4481,ROOM # 105 DUBAI HOTEL ZHOB
3,28,Lazaro Cardenas,MX,78.12,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
4,31,Dhidhdhoo,MV,82.60,scattered clouds,6.8833,73.1000,Dhidhoo beach

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"]=="Super 8 by Wyndham Natchitoches"]
vacation_end = vacation_df.loc[vacation_df["Hotel Name"]=="Super 8 by Wyndham Natchitoches"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"]=="Boomtown Casino & Hotel New Orleans"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"]=="Motel 6 Sinton, TX"]
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"]=="La Quinta Inn & Suites by Wyndham Brownwood"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()
print(start, end, stop1, stop2, stop3)

[31.7668 -93.1335] [31.7668 -93.1335] [29.8458 -90.1067] [28.017 -97.5169] [31.7093 -98.9912]

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction_layer = gmaps.directions_layer(start, end, 
                                  waypoints=[stop1, stop2, stop3],
                                  travel_mode="DRIVING")
fig.add_layer(direction_layer)
# Show figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,305,Natchitoches,US,76.98,scattered clouds,31.7668,-93.1335,Super 8 by Wyndham Natchitoches
1,390,Estelle,US,87.80,clear sky,29.8458,-90.1067,Boomtown Casino & Hotel New Orleans
2,322,San Patricio,US,84.29,scattered clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
3,254,Brownwood,US,82.40,clear sky,31.7093,-98.9912,La Quinta Inn & Suites by Wyndham Brownwood

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd> and <dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))